<!-- Nomenclatura Seccion Ingles 00 [scfn] -->



<div style="background-color: gainsboro">
<h2>Simple Past</h2>
<!--Affirmative  -->
<h3>Simple Past Affirmative</h3>
<h4>Estructura</h4>
<p>Subject + Verb In Simple Past + Complement</p>
<p>Example</p>
<p>Kate played soccer</p>
<!--Negative - -->
<h3>Simple Past Negative</h3>
<h4>Estructura</h4>
<p>Subject + Did + Not + Infinitive Verb + Complement</p>
<p>Example</p>
<p>Michael did not play yesterday</p>
<!-- Question Affirmative -->
<h3>Simple Past Interrogative Affirmative</h3>
<h4>Estructura</h4>
<p>Did + Subject + Infinitive Verb + Complement?</p>
<p>Example</p>
<p>Did you have a bicycle when you were young</p>
<!-- Question Negative -->
<h3>Simple Past Interrogative Negative</h3>
<h4>Estructura</h4>
<p>Did + Not + Subject + Infinitive Verb + Complement?</p>
<p>Example</p>
<p>Did not you play?</p>
</div>

<br>

<div style="background-color: gainsboro">
<h2>Presennt Simple </h2>
<!--Affirmative -->
<h3>Present Simple Affirmative</h3>
<h4>Estructura</h4>
<p>Subject + Infinitive Verb + Complement</p>
<p>Example</p>
<p>He eats a lot of fruits</p>
<!--Negative -->
<h3>Present Simple Negative</h3>
<h4>Estructura</h4>
<p>Subject + Auxiliary Verb(To Do "Do/Does") + Negative Auxiliary (Not) + Infinitive Verb</p>
<p>Example</p>
<p></p>
<!-- Question Affirmative -->
<h3>Present Simple Interrogative Affirmative</h3>
<h4>Estructura</h4>
<p>Auxiliary Verb(To Do "Do/Does") + Subject + Infinitive Verb + Complement</p>
<p>Example</p>
<p></p>
<!-- Question Negative -->
<h3>Present Simple Interrogative Negative</h3>
<h4>Estructura</h4>
<p>Auxiliary Verb(To Do "Do/Does") + Negative Auxiliary (Not) + Subject + Infinitive Verb + Complement</p>
<p>Example</p>
<p></p>
</div>




