
<div style="background-color: gainsboro">
<h2>Past Simple</h2>
<!--Afirmacion + -->
<h3>Present Simple Past Affirmative</h3>
<h4>Estructura</h4>
<p>Subject + Verb In Past + Complement</p>
<p>Example</p>
<p>Kate played soccer</p>
<!--Afirmacion - -->
<h3>Present Simple Past Negative</h3>
<h4>Estructura</h4>
<p>Subject + Did + Not + Infinitive Verb + Complement</p>
<p>Example</p>
<p>Michael did not play yesterday</p>
<!-- -->
<h3>Present Simple Past Interrogative Affirmative</h3>
<h4>Estructura</h4>
<p>Subject + Did + Not + Infinitive Verb + Complement</p>
<p>Example</p>
<p>Michael did not play yesterday</p>
</div>

<br>

<div style="background-color: gainsboro">
<h2>Presennt Simple </h2>

<h3>Present Simple Affirmative</h3>
<h4>Estructura</h4>
<p>Subject + Verb + Complement</p>
<p>Example</p>
<p></p>
</div>



<p>Past Simple +</p>

<p>Past Simple -</p>

<p>Past Continuos +</p>

<p>Past Continuos -</p>

<p>Question +</p>

<p>Question -</p>

<p>Question +</p>

<p>Question -</p>

<p>List Regular Verbs </p>

<p>List Iregular Verbs</p>


