<h1>Creacion De Componente Manual</h1>

<p>
    El proceso de creacion de un componente de manera manual sigue el siguiente proceso
    1 - creamos una carpeta dentro de la carpeta app para mayor orden
    2 - creamos una archivo type script con la nomenclatura xnombre.component.ts  
    3 - creamos y exportamoos para poder usarla fuera de este componente
    4 - usamos el decorador de component inicia con @ y lo importamos 
    5 - creamos un archivo html con la misma nomnclatura xnombre.component.html
    6 - dentro del decorador definimos los atributos  
    -atributo de selector propiedad que nos indica el nombre del componente y se usara en html para incrustarlo
    -templateUrl propiedad  que guradara la ruta del archivo html que usara el componte
    6 - crt + click en templateUrl nos llevara al archivo html 
</p>

<p>Enbebemos el componente</p>

<app-scfn02></app-scfn02>
<app-scfn02></app-scfn02>